.jx{
    margin-left: 10px;
}

.st{
    margin-top: 12px;
}

.cal{
    font-size: 14px;
    color: #000;
}

.cc{
    padding-left: 10px;
    font-size: 14px;
    color: #e47a2e;
}

.uu{
    font-size: 14px;
    color: #e47a2e;
}

.us{
    font-size: 14px;
    color: #000;
}